body
{
    
text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 2vw; 
    margin: 0;
    padding: 0;
}

 *{
    cursor: url('https://cur.cursors-4u.net/sports/spo-7/spo712.cur'), auto !important;
  }
  
  
  
.container {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media (min-width: 1024px) {
    body {
        font-size: 1.5vw; 
    }
    .container {
        max-width: 80%; 
    }
}

@media (max-width: 1023px) {
    body {
        font-size: 4vw; 
    }
    .container {
        padding: 20px;
    }
}


@media (max-width: 600px) {
    body {
        font-size: 5vw; 
    }
}


#Geschichte
{  
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1500px;
    line-height: 1.6;
    background-color: rgb(94, 0, 0);
    border-radius: 50px;
    filter: 
     
      drop-shadow(0 0 3px rgb(255, 255, 255)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));

}

#Geschichte p
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1000px;
    line-height: 1.6;
    background-color: rgba(94, 0, 0);
    border-radius: 10px;
}
#Geschichte h4
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    margin: 10px;

    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}
#Regeln
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1500px;
    line-height: 1.6;
    background-color: rgb(94, 0, 0);
    border-radius: 50px;
    filter: 
      
      drop-shadow(0 0 3px rgb(255, 255, 255)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
}

#Regeln p
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1000px;
    line-height: 1.6;
    background-color: rgba(94, 0, 0);
    border-radius: 10px;
}
#Regeln ul
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 1px auto;
    text-align: center;
    max-width: 600px;
    line-height: 1.6;
    background-color: rgba(94, 0, 0);
    border-radius: 10px;
}
#Traning
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1500px;
    line-height: 1.6;
    background-color: rgb(94, 0, 0);
    border-radius: 50px;
    filter: 
     
      drop-shadow(0 0 3px rgb(255, 255, 255)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
}
#Traning p
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1000px;
    line-height: 1.6;
    border-radius: 10px;
   
}

    
#Gurtelfarben
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1500px;
    line-height: 1.6;
    background-color: rgb(94, 0, 0);
    border-radius: 50px;
   
}

#Gurtelfarben p
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 20px auto;
    max-width: 1000px;
    text-align: center;
    line-height: 1.6;
    background-color: rgba(94, 0, 0);
    border-radius: 10px;
    
}
#GurtelfarbenP
{
    max-width: 1000px;
}

#Gurtelfarben img
{
    border-radius: 50px;
    margin: 15px;
    text-align: center;
    max-width: 100%;
    height: auto;
}
#Wurfe
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1500px;
    line-height: 1.6;
    background-color: rgb(94, 0, 0);
    border-radius: 50px;
   filter: 
      
      drop-shadow(0 0 3px rgb(255, 255, 255)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
}

#titelw 
{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 4rem;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;

}

#Wurfe img 
{
    display: block;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 25%;
    height: auto;
    max-width: 1000px;
    border-radius: 30px;
    padding: 25px;             
    box-shadow: 0 5px 15px rgb(99, 1, 1); 
    object-fit: cover;


    filter: 
    brightness(1.2)
      contrast(1.2)
      drop-shadow(0 0 1px rgb(141, 2, 2)) 
      drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
    
    
}
.item img
 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 50px;
}

.name 
{
    margin-bottom: 2px;
    color: #ffffff;
}

.occupation
 {
    font-style: italic;
    margin-top: 2px;
}

main#carousel 
{
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 500px;
    --items: 5;
    --middle: 3;
    --position: 1;
    
}

a
{
    text-decoration: underline #5a0000;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
}

.videoseite
 {
    display: flex;
    align-items: center; 
}
.Handtechniken 
{
    color: #5a0000; 
    border-top: 2px solid #5a0000;
    border-bottom: 2px solid  #5a0000;;
    padding-bottom: 0.5rem;
  }
  .Handtechniken p {
    color: #ffffff; 
    font-size: 1.5rem;
    width: 20%;
    margin: 0 auto;


  }
.Hüfttechniken
{
    color: #5a0000; 
    border-bottom: 2px solid #5a0000;;
    padding-bottom: 0.5rem;
  }
.Hüfttechniken p {
    color: #ffffff; 
    font-size: 1.5rem;
    width: 20%;
    margin: 0 auto;


  }
.Beintechniken
{
    color: #5a0000; 
    border-bottom: 2px solid #5a0000;
    padding-bottom: 0.5rem;
  }
  .Beintechniken p {
    color: #ffffff; 
    font-size: 1.5rem;
    width: 20%;
    margin: 0 auto;


  }

.Opfertechniken
{
    color:  #5a0000; 
    border-bottom: 2px solid #5a0000;
    padding-bottom: 0.5rem;
  }
.Opfertechniken p {
    color: #ffffff; 
    font-size: 1.5rem;
    width: 20%;
    margin: 0 auto;


  }


.inhaltverzeischnis 
{
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  .inhaltverzeischnis a {
    padding: 0.5rem 0.8rem;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 0.85rem;
    border-radius: 2px;
    box-shadow: 1px 1px 3px rgba(233, 230, 230, 0.1);
  }
  
  .inhaltverzeischnis a:hover {
    background: #5a0000;
  }


div.item {
    padding: 20px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #fff;

    position: absolute;
    width: 300px;
    height: 250px;
    background-color: rgb(94, 0, 0);
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
}
div.item:nth-of-type(2) {
    --offset: 2;
}
div.item:nth-of-type(3) {
    --offset: 3;
}
div.item:nth-of-type(4) {
    --offset: 4;
}
div.item:nth-of-type(5) {
    --offset: 5;
}
div.item:nth-of-type(6) {
    --offset: 6;
}
div.item:nth-of-type(7) {
    --offset: 7;
}
div.item:nth-of-type(8) {
    --offset: 8;
}
div.item:nth-of-type(9) {
    --offset: 9;
}
div.item:nth-of-type(10) {
    --offset: 10;
}
div.item:nth-of-type(11) {
    --offset: 11;
}
div.item:nth-of-type(12) {
    --offset: 12;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}
input:nth-of-type(6) {
    grid-column: 7 / 8;
    grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ main#carousel {
    --position: 6;
}
input:nth-of-type(7) {
    grid-column: 8 / 9;
    grid-row: 2 / 3;
}
input:nth-of-type(7):checked ~ main#carousel {
    --position: 7;
}
input:nth-of-type(8) {
    grid-column: 9 / 10;
    grid-row: 2 / 3;
}
input:nth-of-type(8):checked ~ main#carousel {
    --position: 8;
}
input:nth-of-type(9) {
    grid-column: 10 / 11;
    grid-row: 2 / 3;
}
input:nth-of-type(9):checked ~ main#carousel {
    --position: 9;
}
input:nth-of-type(10) {
    grid-column: 11 / 12;
    grid-row: 2 / 3;
}
input:nth-of-type(10):checked ~ main#carousel {
    --position: 10;
}
input:nth-of-type(11) {
    grid-column: 12 / 13;
    grid-row: 2 / 3;
}
input:nth-of-type(11):checked ~ main#carousel {
    --position: 11;
}
input:nth-of-type(12) {
    grid-column: 13 / 14;
    grid-row: 2 / 3;
}
input:nth-of-type(12):checked ~ main#carousel {
    --position: 12;
}

#Wurfe p
{    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1000px;
    line-height: 1.6;
   
}

#index{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 10px auto;
    text-align: center;
    max-width: 1500px;
    line-height: 1.6;
    border-radius: 50px;
    filter: 
      
      drop-shadow(0 0 3px rgb(0, 0, 0)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
}
#welcome{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgba(255, 255, 255, 0.904);
    font-size: 3.5rem;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}

h1 { 
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
        filter: 
    
        drop-shadow(0 0 3px rgb(0, 0, 0)) 
        drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));

}
h2 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
    border-radius: 50px;

   
}
h3 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
}



button {
    font-family: 'Noto Sans JP', 'Meiryo', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
        color: rgb(255, 255, 255);

    background-color: rgba(0, 0, 0, 0.904);
    border: 2.5px solid rgb(128, 4, 4, 0.904);
    border-radius: 20px;
    font-size: 1.6rem;
    padding: 40px;
    margin: 15px;
    margin-left: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    
        
}
button:hover {
    background-color: rgb(128, 4, 4, 0.904);
    color: rgb(255, 0, 0);
}
button:active {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
button:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(255, 0, 0), 0 0 15px rgb(255, 0, 0);
}

ul {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    margin: 25px auto;
    max-width: 1000px;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 20px;
}
#olympic-rings {
    filter: 
    brightness(1.2)
      contrast(1.2)
      
      drop-shadow(0 0 1px white) 
      drop-shadow(0 0 2px rgba(255, 255, 255, 0.7));
      
  }
  #buttons{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 50px auto;
    max-width: 1500px;
    background-color: rgb(94, 0, 0);
    border-radius: 10px;
    filter: 
      drop-shadow(0 0 3px rgb(255, 255, 255)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
  }
  #buttonsindex{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 50px auto;
    max-width: 1500px;
    background-color: rgb(94, 0, 0);
    border-radius: 10px;
    filter: 
      drop-shadow(0 0 3px rgb(255, 255, 255)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
  }
  #buttonsgurtel{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 50px auto;
    max-width: 1500px;
    background-color: rgb(94, 0, 0);
    border-radius: 10px;
    filter: 
      drop-shadow(0 0 3px rgb(255, 255, 255)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
  }
  #buttonsregel{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 50px auto;
    max-width: 1500px;
    background-color: rgb(94, 0, 0);
    border-radius: 10px;
    filter: 
      drop-shadow(0 0 3px rgb(255, 255, 255)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
  }
  #buttonstraning{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 50px auto;
    max-width: 1500px;
    background-color: rgb(94, 0, 0);
    border-radius: 10px;
    filter: 
      drop-shadow(0 0 3px rgb(255, 255, 255))
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
  }
  #buttonsgeschichte{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin: 50px auto;
    max-width: 1500px;
    background-color: rgb(94, 0, 0);
    border-radius: 10px;
    filter: 
      drop-shadow(0 0 3px rgb(255, 255, 255)) 
      drop-shadow(0 0 2px rgba(255, 0, 0, 0.7));
  }
  
 
footer{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 1.5rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
 
    
}

